SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
SPOTIFY_REDIRECT_URI=""
SPOTIFY_SCOPE="user-read-private user-read-email playlist-modify-public playlist-modify-private playlist-read-private playlist-read-collaborative"
GOOGLE_SCOPE="https://www.googleapis.com/auth/youtube"